<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<connectionStrings>
		<add name="ProductionDatabase" connectionString="Data Source=elpuatsqlserver.database.windows.net;Initial Catalog=db_elptest;User ID=azureuser;Password=elp.1234;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
		  providerName="System.Data.EntityClient" />

		<add name="DebugDatabase" connectionString="Data Source=elpuatsqlserver.database.windows.net;Initial Catalog=db_elptest;User ID=azureuser;Password=elp.1234;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
		  providerName="System.Data.EntityClient" />

		<add name="RLJones.FraudInspectionDriver.Properties.Settings.db_elptestConnectionString"
		  connectionString="Data Source=elpuatsqlserver.database.windows.net;Initial Catalog=db_elptest;User ID=azureuser;Password=elp.1234"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>